*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.hero{

    height: 100vh;
    background: url(/images/navbg.avif)no-repeat center center/cover;

    .headings{
        color: white;
        display: flex;
        flex-direction: column;
         justify-content: center;
        align-items: flex-start;
        align-items: start;
        padding-top: 200px;
        padding-bottom: 200px;
        font-size: 30px;
        padding-left: 50px;
        padding-right: 50px;
    }
}
.hero nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    padding-top: 25px;
    padding-bottom: 25px;


}
nav h1{
    color: white;
}
.hero nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
}
.hero nav ul li a{
    font-size:20px ;
    text-decoration: none;
    color: rgb(253, 250, 250);

}

.sec2{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background: url(/images/sec2img.avif)no-repeat center center/cover;
     background-color: #BC6C25;
   
     
  

    .left{
     display: flex;
    flex-direction: column;
    gap: 80px;
    padding-left: 100px;
    padding-right: 100px;
    align-items: flex-start;
    text-align: start;
    padding-top: 50px;
    color: white;
   

      button{
            padding: 10px;
            padding-left: 30px;
            padding-right: 30px;
        }
    h1{
        font-size: 60px;
    }
    
    .left1{
        display: flex;
        justify-content: space-between;
         gap: 30px;
        li{
            font-size: 20px;
            font-weight: 700;
        }
      
    }
    }
    .img{
        position: relative;
        bottom: 100px;
        right: 200px;
        width: 100%;
    }
}

.sec3{
   
    background:url(/images/digital-operating-models-lead-tab.png)no-repeat center center/cover;
    background-color: rgb(22, 178, 240);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    padding-left: 100px;
    padding-right: 100px;
    
    h1{
        font-size: 60px;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    button{
        padding: 15px;
    }
    .right{
        display: flex;
        gap: 50px;
        color: white;
        
        ul li{
            font-size: 20px; 
            list-style: none;
        }
        ul h3{
           padding-bottom: 20px;
           opacity: .5;
        }
    }


}

.sec4{
   
    background:url(/images/sec4.avif)no-repeat center center/cover;
    background-color: rgb(142, 4, 123);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    padding-left: 100px;
    padding-right: 100px;
    
    h1{
        font-size: 60px;
        color: rgb(255, 255, 255);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    button{
        padding: 15px;
    }
    .right{
        display: flex;
        gap: 50px;
        color: white;
        
        ul li{
            font-size: 20px; 
            list-style: none;
        }
        ul h3{
           padding-bottom: 20px;
           opacity: .5;
        }
    }


}

// section 5
 
.secfive{
    .next{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #090908;
        h2{
            font-size: 60px;
        }
        h4{
            font-size: 30px;
            font-weight: 300;
            opacity: .5;
        }
    }
}

.sec5{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
    .left5{
        &:hover{
            scale: 110%;
        }
    }
  
    .right5{
        display: grid;
        grid-template-columns: 1fr 1fr;
       
        img{
               &:hover{
            transform: scale(.2)
        }
        }
    }
   

}

.secondlast{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(249, 211, 170);

    .right{
        font-size: 80px;
        color: white;

        button{
            padding: 20px;
            background-color: black;
            color: white;

            &:hover{
                background-color: rgb(46, 171, 129);
                color: black;
            }
        }
    }

    .left{
        display: grid;
        grid-template-columns: 1fr 1fr ;
         padding-top: 100px;
         padding-bottom: 100px;

         .box1{
            background: url(/images/india.jpg)no-repeat center center/cover;
         }
           .box2{
            background: url(/images/america.jpg)no-repeat center center/cover;
         }
           .box3{
            background: url(/images/france.jpg)no-repeat center center/cover;
         }
           .box4{
            background: url(/images/pexels-timfuzail-2792601.jpg)no-repeat center center/cover;
         }


        .box{

            width: 200px;
            height: 200px;
            border: 1px solid black;
            text-align: center;
            color: white;
            padding-top: 50%;
            padding-bottom: 50%;
            font-size: 30px;
           &:hover{
            background-color: white;
            opacity: .8;
            color: black;
           }
          
           
        }
    }
}

//FOTTER

.footer{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;

    .ft{
        display: flex;
        flex-direction: column;
        gap: 20px;
        h4{
            font-size: 20px;
            font-weight: 900;
        }
    
       ul{
        li{
            color: #0a0704;
            border-bottom: 1px solid black;
            padding-top: 10px;
            padding-bottom: 10px;
            list-style: none;
        }
       }
    }
    
}

.footer1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    margin-top: 30px;

    .country{
        border: 1px solid black;
        padding: 10px;
    }
    .selection{
        padding: 10px;
    }
}
header input{
    display: none;
}
header nav label{
    display: none;
}


// media uery tablet

@media screen and (max-width:786px){

header nav label{
display: block;
}
.hero nav{
justify-content: space-around;
}
header nav h1{
    display: block;
}

 #bar:checked ~ nav ul li a{
     display: block;
      z-index: 1999;
      position: absolute;  
      right:10px;
      color: white;
    background-color: #c0702a;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
      }


    .secondlast{
        flex-direction: column;
    }
     .hero nav .glass{
        display: none;
     }
    .hero nav ul{
        display: none;
    }
    .sec2{
          
        img{
             position: relative;
        right: 55%;
        bottom: 5%;
        }
        .left{
            padding-left: 30px;
        }
    
    }
    .sec5{
        grid-template-columns: 1fr;

        img{
                width: -webkit-fill-available;
        }
    }

    .footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    .icon{
        display: flex;
        gap: 30px;
        font-size: 20px;
        justify-content: center;
    }
   .ft{
    ul{
        li{
            border: none;
        }
    }
   }
}


}

@media screen and (max-width:426px) {
     
    .sec2 .left h1{
        font-size: 20px;
    }
    
.sec2 .left .left1{
       display: -webkit-inline-box;
}
.sec3 h1{
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sec3 .right{
    flex-direction: column;
}
.sec4 h1{
    font-size:25px;
    margin: auto;
    padding: 28px;
}
.sec4 .right{
    flex-direction: inherit;
}
.footer{
    grid-template-columns: auto;
}
.secondlast .right{
    h4{
        font-size: 40px;
    }
}
}